body{
    margin:0;
    font-family:Arial, sans- serif;
    background-color:aliceblue;
    color: blueviolet;
}
header{
    background-color: crimson;
    color:black
    text-align: aliceblue
    padding: 20px;

}
main
  {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  .card{
   width: 80px;
   max-width: 600px;
   background-color: ;
   padding: 25px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 1);
   text-align: center
  }
  p{
    font-size: 18px;
    line-height: 1.6;
    cursor:pointer;
    border: none;
  }